
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">Pide Tu Cita</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('misCitas') }}">Mis Citas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('registrarCitas') }}">Pedir Cita</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('empresa') }}">Empresa</a>
            </li>
        </ul>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <h5><small>Bienvenido {{ app.user.nombre }}</small></h5>
        {% endif %}
        <a class="btn btn-outline-warning ml-2" href="{{ path('dashboard') }}" type="buttom">Admin</a>
        <a class="btn btn-danger ml-2" href="{{ path('app_logout') }}" type="buttom">Salir</a>
    </div>
</nav>